/*  your css code here. If applicable */
div {
	position:relative;
	border:2px solid black;
	height:200px;
	width:200px;
	margin: 0 auto;
	background-color:lightblue;
	text-align:center;
	color:purple;
	
}